body{
    scroll-behavior: smooth;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.c1, .c2, .c3{
    /* border-bottom: solid black 1px; */
    margin-top: 2vh;
    /* height: 95vh; */
}
.c1{
width: 27vw;
margin-right: 2vw;
}
.c2{
    width: 38vw;
}
.c3{
    width: 20vw;
}
.top{
    border-bottom: solid rgb(221, 221, 221) 1px;
    height: 7vh;
    padding-left: 1vh;
    font-size: 3.5vh;
    color: rgb(71, 71, 71);
}
.nav{
    border: solid rgb(230, 230, 230) 1px;
    margin-left: 11.5vw;
    height: fit-content;
    border-radius: 8px;
}
img{
    margin: 3vh;
    margin-top: 0vh;
    height: 22vh;
    border-radius: 50%;
}
form, .f2{
    border-radius: 10px;
    margin: 2vh;
    padding: 2vh;
    border: solid rgb(230, 230, 230) 1px;
}
input{
    margin-top: 1vh;
    height: 4.4vh;
    width: 33vw;
    padding-left: 0.7vw;
    font-size: 2.1vh;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 71, 71);
    border-radius: 5px;
    border: solid rgb(230, 230, 230) 1.1px;
    margin-bottom: 3vh;
    background-color: rgb(253, 253, 253);
}
label{
    color: rgb(43, 42, 42);
    margin-top: 2vh;
}
textarea{
    padding: 5px;
    margin-top: 1vh;
    border-radius: 8px;
    height: 10vh;
    min-width: 33vw;
    max-width: 33vw;
    padding-left: 0.7vw;
    background-color: rgb(253, 253, 253);
    border: solid rgb(230, 230, 230) 1.1px;
    margin-bottom: 3vh;
    font-size: 2.1vh;
    font-family: Arial, Helvetica, sans-serif;

}
.btn{
    border: none;
    background-color: dodgerblue;
    color: white;
    width: fit-content;
    text-align: center;
    padding: 1vh;
    cursor: pointer;
    height: 5.5vh;
}
.tab{
    padding-left: 0.8vw;
    height: 4.7vh;
    border-bottom: solid rgb(230, 230, 230) 1px;
    padding-top: 2vh;
}
.tab2{
    height: 5vh;
    padding-top: 2vh;
    padding-left: 0.8vw;
    border-bottom: none;
}
.tab:hover{
    background-color: rgb(248, 248, 248);
}
a{
    text-decoration: none;
    color: black;
}
.error{
    color: red;
    margin-bottom: 2vh;
}
#profile_pic{
    border: none;
    width: fit-content;
}
.def-lay{
    width: 7vw;
    border: none;
    
}